.formWrapper{
    background-color: grey;
    border: 2px solid gray;
    padding: 20px;
    margin: 20px;
}
.list{
    color: blue;
    
}
.Cust{
    background-color:darkgreen ;
    margin-top: 10px;
    color:red;
}
.heading{
    color:indigo;
}
.formWrapper label {
    color: white;
    font-size: 20px;
    display: inline-block;
    width: 200px;
}
.button-wrapper{
    text-align: center;
}
.sub-button{
    background-color: green;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    margin-right: 10%;
    width: 24%;
}
.cancel{
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    margin-right: 10%;
    width: 24%;
    border-radius: 8px;
    background-color: chocolate;
}